body,html{
	margin:0px;
	padding:0px;
}
body *{
	box-sizing:border-box;
}
@font-face {
  font-family: "Compacta";
  src: url("../fonts/compacta-std.otf");
}
.test__wrapper{
	
	& *{
		font-family:"Roboto" ,sans-serif;
	}
	& .main__test{
		margin:50px 3.75rem;
		border:8px solid #fedd00 !important;
		& .inner{
			padding:50px 50px;
			display: flex;
			align-items:center;
			justify-content:space-between;
		}
		& .media{
			width: 50%;
			display: flex;
			align-items:center;
			justify-content:center;
			&>img{
				max-width: 100%;
			}
		}
		& .desc{
			padding-right: 25px;
			max-width: 50%;
			& .btn{
				display: flex;
				justify-content:flex-start;
				align-items:center;
				margin-top: 25px;
				&>button{
					min-height: 50px;
					min-width: 100px;
					display: flex;
					align-items:center;
					justify-content:center;
					padding:16px;
					font-size: 13px;
					font-weight: 500;
					text-transform: uppercase;
					line-height: 1.3;
					letter-spacing: 1px;
					color:#fff;
					background-color:#E4002B;
					cursor:pointer;
					border:0px;
					outline:none;
					position: relative;
					overflow:hidden;
					&:hover{
						&:before{
							left: 0px;
						}
					}
					&:before{
						content:"";
						position: absolute;
						left: 100%;
						top:0px;
						width: 100%;
						height: 100%;
						background-color:#000;
						transition:.4s ease all;
					}
					& span{
						position: relative;
						z-index: 2;
					}
				}
			}
			&>p{
				margin:0px;
				font-size: 16px;
				line-height: 1.5;
				color:rgb(0, 0, 0);
			}
			&>h1{
				margin-top: 0px;
				font-family:"Compacta" ,sans-serif;
				font-weight: 400;
				font-size: 72px;
				line-height: 61px;
				margin-bottom: 20px;
			}
		}
	}
}
.form__wrapper{
	max-width: 940px;
	margin:50px auto;
	width: calc(100% - 40px);
	border:8px solid #fedd00 !important;
	padding:50px 25px;
	& .controls{
		display: flex;
		justify-content:center;
		align-items:center;
		opacity:0;
		transition:.4s ease all;
		margin-top: 40px;
		&>a{
			&.next{
				opacity:.6;
				pointer-events:none;
			}
			display: inline-flex;
			text-decoration: none;
			align-items:center;
			font-size: 14px;
			color:#000;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 500;
			transition:.4s ease all;
			&:hover{
				opacity:.7;
			}
			& svg:nth-child(1){
				margin-right: 10px;
			}
			& svg:last-child{
				margin-left: 10px;
			}
			&:nth-child(1){
				margin-right: 80px;
			}
		}
	}
	& .steps__wrapper{
		&>.step{
			& .final{
				&>span{
					display: flex;
					align-items:center;
					justify-content:center;
					margin-bottom: 12px;
				}
				&>p{
					margin:0px;
					line-height: 1.2;
				    font-size: 15px;
				    letter-spacing: 1px;
				    text-transform: uppercase;
				    margin-bottom: 20px;
				    text-align:center;
				}
				&>h6{
					text-align:center;
					margin-top: 0px;
					font-size: 30px;
					line-height: 1.2;
					color:#000;
					margin-bottom: 20px;
					font-weight: 400;
				}
				& .controls__bottom{
					display: flex;
					flex-direction:column;
					align-items:center;
					justify-content:center;
					width: 100%;
					max-width: 370px;
					margin-left: auto;
					margin-right: auto;
					&>a{
						display: inline-flex;
						text-decoration: none;
						align-items:center;
						font-size: 14px;
						color:#000;
						text-transform: uppercase;
						letter-spacing: 1px;
						font-weight: 500;
						transition:.4s ease all;
						margin-top: 10px;
						&:hover{
							opacity:.7;
						}
						& svg:nth-child(1){
							margin-right: 10px;
						}
						& svg:last-child{
							margin-left: 10px;
						}
						&:nth-child(1){
							margin-right: 80px;
						}
					}
					&>button{
						display: inline-flex;
						width: 100%;
						height: 55px;
						align-items:center;
						justify-content:center;
						border:1px solid rgb(0, 0, 0);
						color:rgb(255, 255, 255);
						font-size: 13px;
						max-width: 340px;
						background-color:#000;
						color:#fff;
						cursor:pointer;
						transition:.4s ease all;
						&:hover{
							background-color:transparent;
							color:#000;
						}
						font-weight: 500;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
					&>input{
						width: 100%;
						text-align:center;
						height: 55px;
						border:1px solid rgb(0, 0, 0);
						font-weight: 400;
						font-size: 16px;
						color:#000;
						outline:none;
						padding:0px 15px;
						margin-bottom: 10px;
					}
				}
			}
			& .step__picker{
				max-width: 400px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				&>a{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					min-height: 50px;
					font-size: 19px;
					padding:10px;
					border:1px solid #dcdcdcde;
					margin-bottom: 15px;
					text-decoration: none;
					&:hover{
						& span{
							background-color:#000;
						}
					}
					& span{
						display: inline-flex;
						transition:.2s ease all;
						border-radius: 250px;
						min-width: 15px;
						max-width: 15px;
						min-height: 15px;
						margin-right: 12px;
						max-height: 15px;
						border-radius: 250px;
						border:1px solid #000;
					}
					color:#000;
					& p{
						margin:0px;
					}
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
			&>h6{
				text-align:center;
				margin-top: 0px;
				margin-bottom: 40px;
				font-size: 30px;
				color:rgb(0, 0, 0);
				line-height: 1.2;
				font-weight: 400;
			}
		}
	}
	& .progress{
		width: 100%;
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		height: 12px;
		border-radius: 250px;
		overflow:hidden;
		margin-bottom: 50px;
		background-color:rgb(230, 235, 234);
		& .active{
			position: absolute;
			left: 0px;
			top:0px;
			height: 100%;
			background-color:rgb(254, 221, 0);
			width:0px;
			transition:.4s ease all;
		}
	}
}
.not__animated{
	opacity:0;
	transform:translateX(30px);
	transition:.4s ease all;
}
.animated{
	opacity:1!important;
	transform:translateX(0px)!important;
}
.recommended__wrapper{
	margin:50px auto;
	border:8px solid #fedd00 !important;
	padding:50px 25px;
	max-width: 1060px;
	& .retake{
		margin-top: 45px;
		display: flex;
		justify-content:center;
		align-items:center;
		&>a{
			transition:.4s ease all;
			&:hover{
				opacity:.7;
			}
			display: inline-flex;
			border-bottom:1px solid #000;
			text-decoration: none;
			font-size: 12px;
			text-transform: uppercase;
			color:#000;
			padding-left: 15px;
			padding-right: 15px;
			letter-spacing: 1px;
			padding-bottom: 4px;
		}
	}
	& .grid{
		display: grid;
		grid-template-columns:repeat(4 ,1fr);
		grid-column-gap:40px;
		grid-row-gap:40px;
		& .controls{
			display: flex;
			flex-direction:column;
			& .group{
				width: 100%;
				margin-bottom: 25px;
				&>select{
					width: 100%;
					height: 42px;
					padding-left: 12px;
					padding-right: 12px;
					font-size: 15px;
					color:#000;
					border:1px solid rgb(239, 238, 236);
					outline:none;
					-webkit-appearance: none;
					  -moz-appearance: none;
					  text-indent: 1px;
					  text-overflow: '';
					  background:url('../img/smallarr.svg');
					  background-repeat: no-repeat;
					  background-size: 10px;
					  background-position:calc(100% - 9px) center; 
				}
				&>p{
					margin-top:0px;
					margin-bottom: 4px;
					font-size: 15px;
					color:#000;
					font-weight: 600;
				}
			}
			&>button{
				width: 100%;
				height: 41px;
				display: flex;
				font-weight: 500;
				align-items:center;
				justify-content:center;
				border:1px solid #000;
				background-color:#000;
				cursor:pointer;
				transition:.4s ease all;
				&:hover{
					background-color:transparent;
					color:#000;
				}
				color:#fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 14px;
			}
		}
		& .desc{
			text-align:center;
			margin-bottom: 20px;
			&>p{
				margin-top: 0px;
				font-size: 15px;
				color:#000;
				margin-bottom: 5px;
			}
			&>span{
				font-size: 15px;
				color:#000;
				display: block;
				text-align:center;
			}
		}
		& .media{
			display: flex;
			align-items:center;
			justify-content:center;
			margin-bottom: 20px;
			&>img{
				max-width: 100%;
			}
		}
	}
	&>h6{
		text-align:center;
		margin-top: 0px;
		font-size: 30px;
		line-height: 1.2;
		color:rgb(0, 0, 0);
		margin-bottom: 40px;
		font-weight: 400;
	}
}
@media (max-width: 1200px){
	.test__wrapper .main__test , .recommended__wrapper{
		margin:30px 20px;
	}
	.test__wrapper .main__test .desc>h1{
		font-size: 60px;
		line-height: 54px;
		margin-bottom: 15px;
	}
	.test__wrapper .main__test .desc .btn{
		margin-top: 20px;
	}
	.recommended__wrapper{
		padding:35px 30px;
	}
	.test__wrapper .main__test .inner{
		padding:35px 30px;
	}
	.form__wrapper{
		margin:30px auto;
	}
}
@media (max-width: 991px){
	.recommended__wrapper>h6{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.recommended__wrapper .grid{
		grid-column-gap:25px;
	}
	.test__wrapper .main__test .inner{
		flex-direction:column-reverse;
		text-align:center;
	}
	.test__wrapper .main__test .desc{
		padding-right: 0px;
		max-width: 100%;
	}
	.test__wrapper .main__test .desc .btn{
		justify-content:center;
	}
	.test__wrapper .main__test .desc>h1{
		font-size: 50px;
		line-height: 44px;
	}
	.test__wrapper .main__test .media{
		margin-bottom: 25px;
	}
	.test__wrapper .main__test .media{
		width: 100%;
	}
	.test__wrapper .main__test .media>img{
		max-width: 440px;
		width: 100%;
	}
}
@media (max-width: 767px){
	.recommended__wrapper>h6{
		font-size: 21px;
	}
	.recommended__wrapper .grid{
		grid-template-columns:repeat(2 ,1fr);
	}
	.recommended__wrapper .retake{
		margin-top: 25px;
	}
	.form__wrapper .steps__wrapper>.step .final>h6{
		font-size: 24px;
	}
	.form__wrapper .controls{
		margin-top: 25px;
	}
	.form__wrapper .steps__wrapper>.step>h6{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.form__wrapper .progress{
		margin-bottom: 30px;
	}
	.form__wrapper .steps__wrapper>.step .step__picker>a{
		font-size: 16px;
	}
	.test__wrapper .main__test .desc>h1{
		font-size: 40px;
		line-height: 34px;
	}
}
@media (max-width: 480px){
	.form__wrapper{
		margin:20px auto;
	}
	.recommended__wrapper .grid{
		grid-template-columns:1fr;
	}
	.form__wrapper .steps__wrapper>.step .final>h6{
		font-size: 21px;
	}
	.form__wrapper .steps__wrapper>.step .final .controls__bottom>input{
		height: 50px;
	}
	.form__wrapper .steps__wrapper>.step .final .controls__bottom>button{
		height: 50px;
	}
	.recommended__wrapper>h6{
		margin-bottom: 10px;
	}
	.form__wrapper , .recommended__wrapper{
		padding:25px 15px;
	}
	.test__wrapper .main__test .desc .btn{
		width: 100%;
		&>button{
			width: 100%;
		}
	}
	.test__wrapper .main__test .inner{
		padding:25px 15px;
	}
	.form__wrapper .steps__wrapper>.step>h6{
		font-size: 21px;
		margin-bottom: 15px;
	}
	.test__wrapper .main__test , .form__wrapper , .recommended__wrapper{
		margin:20px 15px;
		border:4px solid #fedd00 !important
	}
}